:root {
    --primary-color: black;
    --primary-color-rgb: 000, 000, 000;
}

*, *::before, *::after {
    box-sizing: border-box;
}

html, body {
    padding: 0;
    margin: 0;
    font-family: Roboto, 'sans-serif';
}

.intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    margin-top: 4rem;
    margin-bottom: 4rem;

    p {
        margin: 0;
    }

    img {
        cursor: zoom-in;
    }
}

img {
    max-width: 100%
}

.intro h1 {
    font-size: 1.1rem;
    font-weight: normal;
    text-align: center;
    color: #4c4c4c;
    max-width: 600px;

    b {
        color: #000000;
    }
}

header, #hamburgerMenu {
    background-color: rgba(var(--primary-color-rgb), 0.9);
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
}

header {
    padding: 10px;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
    transition: all 0.5s;

    &.shadow {
        box-shadow: rgba(0, 0, 0, 0.61) 0px 8px 24px;
    }
}

main {
    padding: 72px 1rem 36px;
}

footer {
    padding-bottom: 72px;
    padding-right: 1rem;
    padding-left: 1rem;
}

.container-fluid {
    max-width: 1000px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

#hamburger {
    display: block;
    position: relative;
    outline: none;
    border: none;
    background-color: transparent;
    width: 40px;
    height: 28px;
    padding: 0;
    cursor: pointer;

    &[data-open] span {
        &:nth-child(1) {
            transform: translateY(12px) rotate(45deg);
        }

        &:nth-child(2) {
            opacity: 0;
        }

        &:nth-child(3) {
            transform: translateY(-12px) rotate(-45deg);
        }
    }

    span {
        position: absolute;
        height: 4px;
        width: 40px;
        background: #fff;
        border-radius: 999px;
        transform-origin: center;
        transition: 0.1s;

        &:nth-child(1) {
            top: 0;
        }

        &:nth-child(2) {
            top: 12px;
        }

        &:nth-child(3) {
            top: 24px;
        }
    }
}

/* mobile */
@media (max-width: 699px) {
    header {
        nav {
            display: none !important;
        }

        #hamburgerMenu {
            visibility: visible;
        }
    }

    #introButtons {
        flex-direction: column;
        width: 100%;
        gap: 0.5rem !important;

        a {
            width: 100%;
        }
    }

    .intro {
        margin-top: 1rem !important;
    }
}

/* desktop */
@media (min-width: 700px) {
    #hamburger {
        display: none;
    }

    #hamburgerMenu {
        visibility: hidden;
    }
}

#hamburgerMenu {
    z-index: 998;
    position: fixed;
    right: 0;
    width: 300px;
    max-width: 100%;
    top: 65px;
    height: calc(100vh - 66px);
    transform: translateX(100%);
    transition: 0.2s;
    padding: 2rem;

    &.visible {
        transform: translateX(0);
    }

    ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
        font-size: 1.2rem;
    }

    li {
        color: #fff;
        margin-bottom: 1rem;
    }
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #FFF;

    .title {
        font-size: 1.4rem;
    }

    & * {
        display: flex;
        align-items: center;
        gap: 1rem;
    }
}

a {
    color: inherit;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}

#logoLink {
    text-decoration: none;
}

#logo {
    transition: all 0.3s;

    &:hover {
        transform: scale(1.3)
    }

    &:active {
        transform: scale(0.9)
    }
}

.wrapperMenu {
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 0;
    right: 0;
    top: 0;

    button {
        font-size: 1.5rem;
        width: 3rem;
        height: 3rem;
        background-color: #2b2b2b;
        color: #b3b3b3;
        border: none;
        cursor: pointer;

        &:last-child {
            border-bottom-left-radius: 10px;
        }

        &:hover {
            background-color: #151515;
        }
    }
}

.text {
    position: relative;
}

.btn {
    position: relative;
    padding: 16px 40px;
    text-decoration: none !important;
    user-select: none;
    cursor: pointer;
    transition: all 0.2s;
    overflow: hidden;
    text-align: center;

    &:active {
        transform: scale(0.9)
    }

    &:hover::before {
        transform: translate(0, 0)
    }
}

.btn::before {
    content: "";
    position: absolute;
    top: -2px;
    left: -2px;
    width: 110%;
    height: 130%;
    transition: all 0.5s;
    transform: translate(-110%, 0) skew(30deg);
}

.btn-primary {
    color: #FFF;
    background-color: var(--primary-color);

    &::before {
        background-color: #2b2b2b
    }
}

.btn-secondary {
    border: 2px solid var(--primary-color);

    &:hover {
        color: #FFF;
    }

    &::before {
        background-color: #000000;
    }
}

#introButtons {
    display: flex;
    gap: 1.5rem;
}

code {
    border-radius: 10px;
}

h3 {
    margin-top: 2.5rem;
}

hr {
    border: none;
    border-top: 2px solid #a3a3a3;
}

.tableWrapper {
    overflow-x: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 10px;
    border: 1px solid #ddd;
}

th {
    background-color: #f4f4f4;
}